@charset "utf-8";

@font-face {
	font-family: Pixel;
	src: url(../font/Pixel\ Digivolve.otf);
}

body {
    background-image: url(../png/vnd_winscreen.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 25px;
}

p {
  font-family: Pixel;
}