body {
    background-image: url(../png/vnd_key.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 25px;
}

img {
  display: block;
  width: 10%;
}